.cell {
  color: purple;
  border-left-style: solid;
  padding: 20px;
  height: 36px;
}

.row {
  margin: 0px;
}

.heading {
  color: purple;
  border-bottom-style: solid;
  border-left-style: solid;
}

h1 {
  text-align: center;
}

.price{
  font-weight: bold;
  .cheap {
    color: green;
  }
  .kinda-cheap {
    color: orange;
  }
  .expensive {
    color: red;
  }
}
